/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    justify-content: space-between;  /* Ajout pour espacer le logo et la nav */
    align-items: center;
}

header .logo img {
    width: 75px; /* Réduit la taille du logo de l'entreprise */
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px; /* Espace entre les éléments du menu */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.hero {
    background-color: #333;
    padding: 40px;
}

.hero img {
    width: 20%;  /* Réduit la taille du logo du jeu */
    height: auto;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.screenshots {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.screenshots img {
    width: 45%;
    height: auto;
}

.team {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: #f39c12;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

form label {
    font-size: 1.2rem;
}

form input, form textarea, form button {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #f39c12;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d35400;
}


#timeline {
    padding: 50px 20px;
    text-align: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-item {
    background-color: #1a1a1a;
    color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.timeline-date {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f39c12;
}

.timeline-content img {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px;
    height: auto;
}

